.nextMatchDesign_form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
        padding: 8px;
        .koloInput {
            width: 60px;
        }
    }
    input {
        width: 300px;
        height: 40px;
        padding: 5px;
    }
    select {
        height: 40px;
    }
}

.ligapodaci {
    .leagueSaveBtn {
        height: 40px;
        background-color: white;
        color: black;
        border-radius: 5px;
    }
}

.unosRezultata {
    width: max-content;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    .teams {
        display: flex;
        .resultInput {
            width: 40px;
            margin: 10px;
        }
        .firstTeam {
            flex-grow: 1;
            margin: 2px;
            background-color: rgb(227, 227, 227);
            padding: 5px;
            .myPlayerEvent {
                display: flex;
                flex-direction: column;
                input {
                    margin: 3px;
                }
            }
        }
        .secondTeam {
            flex-grow: 1;
            margin: 2px;
            background-color: rgb(227, 227, 227);
            padding: 5px;
            .againstPlayerEvent {
                display: flex;
                flex-direction: column;
                input {
                    margin: 3px;
                }
            }
        }
    }
}