.ligapodaci {
    background-color: #292c35;
    padding: 2rem;
    h4 {
        font-size: 2.0rem;
        font-weight: bold;
        margin-bottom: 3rem;
    }
    .nextMatchDesign_form {
        max-width: 40rem;
        margin: 0 auto;
        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.8rem;
            label {
                font-size: 1.2rem;
                margin-bottom: 0.2rem;
            }
            input[type='text'],
            input[type='number'],
            input[type='datetime-local'] {
                background-color: #fff;
                border: none;
                border-radius: 0.3rem;
                font-size: 1.1rem;
                padding: 1.1rem;
                width: 100%;
            }
            .koloInput {
                width: 10rem;
            }
            select {
                background-color: #fff;
                border: none;
                border-radius: 0.3rem;
                font-size: 1.1rem;
                padding: 1.1rem;
                width: 100%;
            }
        }
        button {
            background-color: #27282d;
            border: none;
            border-radius: 0.3rem;
            color: #fff;
            font-size: 1.2rem;
            padding: 1.2rem 2.4rem;
            &:hover {
                background-color: #eaeaea;
            }
        }
    }
    
    a {
        color: #fff;
        display: block;
        font-size: 1.6rem;
        margin-top: 2rem;
        text-decoration: underline;
    }
}

#openDesignBtn{
    display: none;
}

@media only screen and (max-width: 768px) {
    .ligapodaci {
        padding: 1rem;
        h4 {
            font-size: 2rem;
        }
        .nextMatchDesign_form {
            max-width: 100%;
        }
    }
}