.glavniDiv {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;

    .firstinfoclub {
        display: flex;
        flex-direction: column;

        p {
            color: white;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        .dodajKlubLink {
            margin-top: 1rem;
            text-align: center;
        }
    }

    .welcomeClub {

        .clubName {
            font-size: 2.4rem;
            margin-bottom: 0.5rem;
            color: #ffffff;
        }

        .clubLocation {
            font-size: 1.2rem;
            margin-bottom: 2rem;
            color: #ffffff;
        }

        .clubDivider {
            margin: 2rem auto;
            width: 50%;
            border: 1px solid #d3d3d3;
        }

        .clubGreeting {
            font-size: 2rem;
            font-weight: bold;
            color: #ffffff;
        }
    }
}

@media only screen and (max-width: 768px) {
    .glavniDiv {

        .firstinfoclub {
            p {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }
        }

        .welcomeClub {
            .clubName {
                font-size: 1.3rem;
                margin-bottom: 0.5rem;
            }

            .clubLocation {
                font-size: 1rem;
                margin-bottom: 2rem;
            }

            .clubDivider {
                margin: 1rem auto;
                width: 75%;
            }

            .clubGreeting {
                font-size: 1.5rem;
            }
        }
    }
}