.toast {
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: block;
    padding: 12px 24px;
    background-color: #28a745;
    color: #fff;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  
  .toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }