    .unosRezultata {
        padding: 1rem;
        border-radius: 0.3rem;
        h4 {
            font-size: 2.0rem;
            font-weight: bold;
            margin-bottom: 3rem;
            color: #fff;
        }
        
        .teams {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            .firstTeam,
            .secondTeam {
                flex-grow:1;
                flex-basis: 45%;
                max-width: 400px;
                label {
                    display: block;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: #fff;
                }
                input {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 0.3rem;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    background-color: #fff;
                    color: #292c35;
                }
                
                .myPlayerEvent,
                .againstPlayerEvent {
                    margin-top: 10px;
                }
            }
        }

        .btnHolder{
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        button {
            background-color: #27282d;
            border: none;
            border-radius: 0.3rem;
            color: #fff;
            font-size: 1.2rem;
            padding: 1.2rem 2.4rem;
            &:hover {
                background-color: #eaeaea;
            }
        }
        @media (max-width: 768px) {
            .teams {
                .firstTeam,
                .secondTeam {
                    flex-basis: 100%;
                }
            }
        }
    }