@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background: #252831
    /* background: linear-gradient(82deg, rgba(13, 66, 110, 1) 0%, rgba(0, 49, 73, 1) 100%); */
}

.mainConteiner{
    display: flex;
    max-width: 800px;
    justify-content: center;
}



header {
    height: max-content;
    padding: 20px;
    margin-bottom: 25px;
}

.headerHolder {
    text-align: center;
    width: max-content;
    margin: 0 auto;
    padding-top: 30px;
    color: white;
}

.logo {
    padding: 5px 15px;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.logo img{
    height: 120px;
}
.info {
    background-color: azure;
    font-size: 0.8rem;
    color: #292c35;
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
}

.infoHolder{
    display: flex;
    padding: 5px 20px;
    justify-content:space-between;
}
.infoHolder a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.infoIcon{
    display: flex;
    gap:6px;
}
.myClubIcon{
    display: flex;
    gap:6px;
}

.social {
    margin: 0 auto;
    font-size: 1.2em;
}

.social a {
    text-decoration: none;
    color: white;
}


.footerHolder {
    
    margin: 0 auto;
    padding-top: 30px;
    color: white;
}

#htmlContent {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: none;
}

.download {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    display: none;
}


.inputColor {
    width: 100px !important;
    height: 40px;
}

@media(max-width: 800px) {

    .mainConteiner{
        display: block;
        max-width: 800px;
        justify-content: center;
    }

    .logo {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .logo img{
        height: 90px;}
    button {
        width: max-content + 10px;
    }
    .headerHolder {
        text-align: left;
        width: 95%;
    }
    footer {
        padding: 10px;
        margin-bottom: 50px;
    }
    .social {
        display: block;
        justify-content: center;
        margin: 0 auto;
        font-size: 0.9em;
    }
}